body {
  color: navy;
  margin:2%;
}

h1 {
  color: black;
}

.quote {
  color: royalblue;
}

.quote.narrator {
  color: black;
}

#intro p {
  color: blue;
}

.super-important-omg {
  font-size: 20px;
  background-color: yellow;
}
